
    <div class="card  mb-3">
        <div class="card-header text-white  bg-dark" >
         
                    <a class="nav-link active" style="float: left" [routerLink]="['/home']"><h4>CW</h4></a>
                
          
              <ul class="nav justify-content-end">
               
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/Error']">Error</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-success" [routerLink]="['/home']">Login</a>
                </li>
            </ul>  
          </div>
      <div class="card-body">
          <div class='container'>
    <router-outlet></router-outlet>
      </div>
    </div>
    
</div>
